<div id="main">watch list</div>

{{!-- LOG IN OR SIGN UP MODALS --}}

<button class="trigger" id="logbtn">Log In</button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Hello, I am a log-in modal!</h1>
        <div class="funnyname">
        <h2>Login Form</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/">here</a></p>
      </div>
    </div>
</div>

<button class="trigger" id="signbtn">Sign Up</button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Hello, I am a sign-up modal!</h1>
        <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{!-- WATCHLIST --}}
        <div>
            <div id="to-watch">UP NEXT</div>
            <div class="watchlist">
                {{#each show_data}}
                {{#unless this.watched}}
                {{/unless}}
                {{/each}}
            </div>

        </div>
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{#each show_data}}
                {{#unless this.watched}}
                <div class="col-md-9 text-center">
                    <pre>
                        {{!-- {{this.id}}.  --}}
                        {{this.name}}
					</pre>
                    <!-- {{this.Date}} -->
                </div>
                <div class="col-md-3 text-center">
                    <form class="watchedForm button-size">
                        <input input type="hidden" class="mediaID" type="text" value={{this.id}}>
                        <button type="submit" class="btn btn-outline-danger btn-sm">Watched?</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-6 text-center" class="task">
            {{#each show_data}}
            {{#if this.watched}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <p>You can add a show or movie you'd like to watch here:</p>
            {{!-- <form id="mediaSubmitForm" action="/watch/create" method="POST">
                <input type="text" class="form-control" name="name" value="" id="mediaName"><br>
                <div class="form-group">
                    <select class="form-control col-md-3" id="genre">
                        <option>Select Genre</option>
                        <option>Horror</option>
                        <option>Comedy</option>
                        <option>Drama</option>
                        <option>Romance</option>
                        <option>Action</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-danger btn-sm" id="text-enter-button">Submit</button>
            </form> --}}
            <div id="form-container">
                <form method="POST" id="mediaSubmitForm" action="/watch/create">
                    <input type="text" id="mediaName" name="name" value="">Title
                    <input type="radio" name="media-type" value="movie"> Movie
                    <input type="radio" name="media-type" value="tv"> TV Show
                    <select name="genre" id="genre">
                        <option value="action">Action</option>
                        <option value="animated">Animated</option>
                        <option value="comedy">Comedy</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="horror">Horror</option>
                        <option value="romantic">Romantic</option>
                        <option value="sci-fi">Sci-Fi</option>
                        <option value="thriller">Thriller</option>
                    </select>

                    <input type="submit" value="Submit" id="text-enter-button">Submit
                </form>
                <p id="error"></p>
            </div>
        </div>
    </div>